<div class="text-center">
<h1>welcome to Bookers !!</h1>
<h3>In Bookers,</h3>
<p>you can share and exchange your opinions , inpressions , and emotions</br>
about various books!
</p>
<div class="rounded"><%= link_to "Log in", new_user_session_path %></div>
<div class="rounded"><%= link_to "Sign up", new_user_registration_path %></div>

<footer>
  <p>CopyRight Infratop.inc</p>
</footer>
</div>

